
.background {
	width: 1000px;
	height: 600px;
}

#redcirc {
	width: 50px;
	height: 50px;
	display: block;
	position: relative;
	top: 100px;

}

#bluecirc {
	width: 50px;
	height: 50px;
	display: block;
	position: relative;
	top: 300px;
}

.abcBoard1 {
	background-color: black
	width: 50px;
	height: 50px;
	display: block;
}

.abcBoard2 {
	background-color: black
	width: 50px;
	height: 50px;
	display: block;
}
