body {
	margin: 0 auto;
	background-image: url("backg2.jpg");
	background-repeat: no-repeat;

}
.tostart {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
}
.background {
	/*background-image: url("back2modi.jpg");*/

}

#bg2 {
	width: 1200px;
	height: 700px;
	display: inline;
}

.title {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
}

#killer {
	display: block;
	position: absolute;
	top: 275px;
}

#mario {
	display: block;
	position: absolute;
	top: 250px;
	margin-left: 100px;

}

#bb8 {
	display: block;
	position: absolute;
	top: 280px;
	margin-top: 30px;
	margin-left: 100px;
}

.abcBoard1 {
	background-color: black
	width: 50px;
	height: 50px;
	color: black;
	display: inline;
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	margin: 70px;
    border: 7px solid red;
    border-radius: 10px;
    position: relative;
    left: 300px;
}

.abcBoard2 {
	background-color: black
	width: 50px;
	height: 50px;
	color: black;
	display: inline;
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	margin: 70px;
    border: 7px solid orange;
    border-radius: 10px;
    position: relative;
    left: 370px;
}