body {
	margin: 0 auto;

}
.tostart {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
}

.background {
	width: 700px;
	height: 600px;
}

.title {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
}

#redcirc {
	width: 50px;
	height: 50px;
	display: block;
	position: relative;
	top: 100px;

}

#bluecirc {
	width: 50px;
	height: 50px;
	display: block;
	position: relative;
	top: 300px;
}

.abcBoard1 {
	background-color: black
	width: 50px;
	height: 50px;
	color: black;
	display: inline;
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	margin: 70px;
    border: 7px solid black;
    border-radius: 10px;
    position: relative;
    left: 120px;
}

.abcBoard2 {
	background-color: black
	width: 50px;
	height: 50px;
	color: black;
	display: inline;
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	margin: 70px;
    border: 7px solid black;
    border-radius: 10px;
    position: relative;
    left: 120px;
}