body {
	margin: 0 auto;
	background-image: url("backg2.jpg");
	background-repeat: no-repeat;

}
.tostart {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
}
.background {
	/*background-image: url("back2modi.jpg");*/

}

#bg2 {
	width: 1200px;
	height: 700px;
	display: inline;
}

.title {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
}

#redcirc {
	width: 50px;
	height: 50px;
	display: block;
	position: relative;
	top: 100px;
	

}

#bluecirc {
	width: 50px;
	height: 50px;
	display: block;
	position: relative;
	top: 300px;
}

.abcBoard1 {
	background-color: black
	width: 50px;
	height: 50px;
	color: black;
	display: inline;
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	margin: 70px;
    border: 7px solid black;
    border-radius: 10px;
    position: relative;
    left: 350px;
}

.abcBoard2 {
	background-color: black
	width: 50px;
	height: 50px;
	color: black;
	display: inline;
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	margin: 70px;
    border: 7px solid black;
    border-radius: 10px;
    position: relative;
    left: 420px;
}